@import 'tailwindcss';

@theme {
  /* shadow */
  --shadow-banner: 0 10px 25px rgba(0, 0, 0, 0.18), 0 20px 40px rgba(0, 0, 0, 0.1);
  --shadow-card: 0 4px 12px rgba(0, 0, 0, 0.12), 0 8px 20px rgba(0, 0, 0, 0.08);
  --shadow-smooth: 0 15px 35px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.08);
}
