@import 'tailwindcss';

@theme {
  /* shadow */
  --shadow-banner: 0 10px 25px rgba(0, 0, 0, 0.18), 0 20px 40px rgba(0, 0, 0, 0.1);
  --shadow-card: 0 4px 12px rgba(0, 0, 0, 0.12), 0 8px 20px rgba(0, 0, 0, 0.08);
  --shadow-smooth: 0 15px 35px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.08);
  --shadow-input-focus: 0 0 2px rgba(99, 102, 241, 0.25), 0 6px 18px rgba(99, 102, 241, 0.15);
  --shadow-smooth-white: 0 15px 35px rgba(255, 255, 255, 0.1), 0 5px 15px rgba(255, 255, 255, 0.08);

  --shadow-footer-top: 0 -6px 18px rgba(0, 0, 0, 0.08), 0 -2px 6px rgba(0, 0, 0, 0.06);
}
