@import 'tailwindcss';

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
  }
  @font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
  }
  @font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
  }
}

@layer utilities {
  /* font base */
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
  .font-quicksand {
    font-family: 'Quicksand', sans-serif;
  }
  /* color base */
  .navbar {
    background-color: #5c4033;
    opacity: 0.8;
  }
  .bg-background {
    background-color: #f8f5f0;
  }
  /* dom color plate */
  .bg-primary {
    background-color: #5c4033;
  }
  .bg-secondary {
    background-color: #d2b48c;
  }
  .bg-accent {
    background-color: #f2c94c;
  }
  .bg-dark {
    background-color: #2b1b12;
  }

  /* text color plate */
  .primary {
    color: #5c4033;
  }
  .secondary {
    color: #8b6a56;
  }
  .accent {
    color: #e0b94a;
  }
  .light {
    color: #f8f5f0;
  }
  .dark {
    color: #2b1b12;
  }
}
